.big__box{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    .big__subbox{
        margin: 0 auto;
        width: 1250px;
        display: flex;
        gap: 140px;
        justify-content: center;
        background: #D87D4A;
        border-radius: 8px;
        padding: 96px 95px 0 117px;
        .big__subbox--text{
            margin-top: 50px;
            width: 261px;
            font-family: 'Manrope';
            font-weight: 700;
            font-size: 56px;
            line-height: 58px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .big__subbox--text2{
            margin: 24px 0 40px ;
            width: 349px;
            font-family: 'Manrope';
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            opacity: 0.75;
        }
        .big__subbox--btn{
            height: 48px;
            width: 160px;
            font-family: 'Manrope';
            background: #000000;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    .big__subbox2{
        padding: 101px 813px 101px 96.5px;
        width: 1250px;
        margin: 48px auto 0;
        .big__subbox2--text{
            font-family: 'Manrope';
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
        }
        .big__subbox2--btn{
            width: 160px;
            height: 48px;
            margin-top: 32px;
            font-family: 'Manrope';
            border: 1px solid #000000;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000000;
        }
    }
    .big__subbox3{
        margin-top: 50px;
        display: flex;
        gap: 70px;
        justify-content: center;
        .subbox__box{
            background: #F1F1F1;
            border-radius: 8px;
            padding: 101px 200px 101px 95px;
            .subbox__box--text{
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #000000;
            }
            .subbox__box--btn{
                border: 1px solid #000000;
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                width: 160px;
                height: 48px;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 426px){
    .big__box{
        .big__subbox{
            width: 689px;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            .big__subbox--text{
                margin: 0 ;
            }
        }
        .big__subbox2{
            padding: 101px 425px 101px 62px;
            background-size: auto;
            width: 689px;
        }
        .big__subbox3{
            width: 689px;
            margin: 20px auto 0;
            gap: 10px;
            .subbox__box2{
                widows: 339px;
                img{
                    width: 339px;
                    height: 320px;
                }
            }
            .subbox__box{
                width: 339px;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .big__box{
        .big__subbox{
            width: 327px;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            padding-bottom: 55px;
            img{
                width: 170px;
            }
            .big__subbox--text{
                margin-left: 20px;
            }
            .big__subbox--text2{
                width: 280px;
            }
        }
        .big__subbox2{
            padding: 101px 101px 101px 24px;
            background-size: auto;
            width: 327px;
        }
        .big__subbox3{
            flex-direction: column;
            display: flex;
            align-items: center;
            .subbox__box2{
                margin: 0 auto;
                width: 327px;
                img{
                    width: 327px;
                }
            }
            .subbox__box{
                width: 327px;
            }
        }
    }
}