.cards{
    margin-top: 200px;
    .cards__box{
        margin: 0 auto;
        max-width: 1250px;
        justify-content: space-between;
        display: flex;
        .cards__subbox{
            padding: 2%;
            flex-direction: column;
            display: flex;
            align-items: center;
            background: #F1F1F1;
            border-radius: 8px;
            position: relative;
            max-width: 350px;
            .cards__subbox--text{
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: 1.28571px;
                text-transform: uppercase;
                color: #000000;
            }
            .cards__subbox--text2{
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                opacity: 0.5;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 426px){
    .cards{
        .cards__box{
            max-width: 689px;
            justify-content: space-between;
            .cards__subbox{
                max-height: 165px;
                max-width: 223px;
                img{
                    width: 80px
                    
                }
            }
        }
    }
}
@media screen and (max-width: 425px) and (min-width: 320px){
    .cards{
        .cards__box{
            align-items: center;
            flex-direction: column;
            gap: 30px;
            .cards__subbox{
                width: 327px;
            }
        }
    }
}