 .header{
    background: #0E0E0E;
    padding: 35px 30px;
    .header__box{
        margin: 0 auto;
        width: 1250px;
        justify-content: space-between;
        display: flex;
        .header__img3{
            display: none;
        }
    }
    .header__list{
        display: flex;
        gap: 34px;
        .header__link{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 481px){
    .header{
        .header__box{
            max-width: 689px;
            .header__img3{
                display: inline-block;
            }
            .header__list{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 480px) and (min-width: 320px){
    .header{
        .header__box{
            width: 335px;
            .header__img3{
                display: inline-block;
            }
            .header__list{
                display: none;
            }
        }
    }
}