.top{
    background: #0E0E0E;
    .top__box{
        gap: 140px;
        justify-content: center;
        display: flex;
        align-items: center;
        .top__subbox{
            .subbox__text{
                color: #FFFFFF;
                font-family: 'Manrope';
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 10px;
                text-transform: uppercase;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
            .subbox__text2{
                margin: 24px 0;
                width: 390px;
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 56px;
                line-height: 58px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .subbox__text3{
                width: 350px;
                font-family: 'Manrope';
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                color: #FFFFFF;
                opacity: 0.75;
            }
            .subbox__btn{
                margin-top: 40px;
                height: 48px;
                width: 160px;
                background: #D87D4A;
                font-family: 'Manrope';
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 426px){
    .top{
        .top__box{
            justify-content: center;
            display: flex;
            .top__subbox{
                margin-left: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .subbox__text2{
                    text-align: center;
                }
                .subbox__text3{
                    text-align: center;
                }
            }
            .top__subbox2{
                img{
                    display: none;
                }
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .top{
        .top__box{
            margin-left: 130px;
            padding: 0;
            .top__subbox{
                padding: 0;
                justify-content: center;
                align-items: center;
                padding: 0 23px 112px ;
                display: flex;
                flex-direction: column;
            }
            .subbox__text{
                margin: 0;
                text-align: center;
            }
            .subbox__text2{
                margin: 0;
                text-align: center;
            }
            .subbox__text3{
                margin: 0;
                text-align: center;
            }
        }
        .top__subbox2{
            img{
                display: none;
            }
        }
    }
    
}